@import "variables";

*{
    font-family: "Open Sans", sans-serif;
}

body, h1, h2, h3,h4,h5,h6, div, p {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
    
}

body{
    @include clearfix();
}

.logo{
    position: fixed;
    color: red;
}

.page{
    position: absolute;
    display: block;

    height: 100%;
    width: 100%;
}


@import "footer";

